.expenses {
    background-color: #023535;
    width: 80%;
    margin: auto;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 16px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 4px;
    margin-bottom: 18px;
    color: white;
}

.expenses:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 6px;
}

.expense {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
    font-size: 20px;
}

.expense .name {
    padding-right: 18px;
    text-transform: capitalize;
}

.expense .status {
    font-size: 16px;
    padding-top: 2px;
    font-style: italic;
    color: #94A69F;
    text-transform: capitalize;
    display: block;
}

.expense .type {
    font-size: 16px;
    padding-top: 2px;
    font-style: italic;
    color: #94A69F;
    text-transform: capitalize;
    display: block;
}

.value {
    text-align: right;
}

.btns {
    text-align: right;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 5px;
}

.btn {
    background-color: #0FC2C0;
    border: 2px solid #0FC2C0;
    font-size: 16px;
    padding: 2px 6px;
    margin-left: 8px;
    cursor: pointer;
    border-radius: 4px;
    display: block;
}

.btn:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 4px;
}

.paidBtn {
    display: block;
}

.isPaid {
    font-style: italic;
    color: #94A69F;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .expenses {
        width: 80%;
    }

    .expense .status {
        display: none;
    }

    .expense .type {
        display: none;
    }

    .paidBtn {
        display: none;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .expenses {
        width: 80%;
    }

    .expense .status {
        display: none;
    }

    .expense .type {
        display: none;
    }

    .paidBtn {
        display: none;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .expenses {
        width: 95%;
    }

    .expense .status {
        display: block;
    }

    .expense .type {
        display: none;
    }

    .paidBtn {
        display: block;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .expenses {
        width: 90%;
    }

    .expense .status {
        display: block;
    }

    .expense .type {
        display: block;
    }

    .paidBtn {
        display: block;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .expenses {
        width: 80%;
    }

    .expense .status {
        display: block;
    }

    .expense .type {
        display: block;
    }

    .paidBtn {
        display: block;
    }
}