.actionBtns {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 90%;
    padding: 16px 8px;
    margin: auto;
    gap: 18px;
}

.actionBtns .btn {
    padding: 4px 8px;
    font-size: 16px;
    outline: none;
    border: 2px solid burlywood;
    border-radius: 4px;
    background-color: burlywood;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 4px;
}

.btn:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 6px;
}