.filterBar {
    background-color: #0FC2C0;
    margin: auto;
    padding: 8px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin-bottom: 22px;
    border-radius: 4px;
    border: 2px solid #0FC2C0;
    color: #023535;
}

.filterSelect {
    font-size: 16px;
    padding: 2px 8px;
    border: 2px solid #023535;
    background-color: #d5dde3;
    border-radius: 4px;
    outline: none;
    min-width: 160px;
}

.filterRadios {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-radius: 4px;
}

.radio {
    padding: 0px 8px;
}

.radio span {
    padding-left: 4px;
    font-size: 20px;
}