.list {
    padding: 8px 16px;
    background-color: #d5dde3;
    color: #023535;
    min-height: 80vh;
    padding-bottom: 25px;
}

.heading {
    padding: 4px 8px;
    font-size: 28px;
    font-weight: normal;
    margin-top: 20px;
}

.hr {
    display: block;
}

.hr hr {
    width: 170px;
    margin: auto;
    border: 2px solid #023535;
    border-radius: 2px;
}

.btns {
    width: 90%;
    text-align: right;
    margin-bottom: 16px;
    padding: 4px;
}

.btn {
    padding: 6px 12px;
    font-weight: normal;
    font-size: 17px;
    outline: none;
    border: 2px solid #023535;
    border-radius: 4px;
    background-color: #023535;
    cursor: pointer;
    color: #d5dde3;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 4px;
}

.btn:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 6px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .hr {
        margin-bottom: 20px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .hr {
        margin-bottom: 20px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .btns {
        width: 98%;
    }

    .hr {
        margin-bottom: 0px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .btns {
        width: 95%;
    }

    .hr {
        margin-bottom: 0px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .btns {
        width: 90%;
    }

    .hr {
        margin-bottom: 0px;
    }
}