.navbar {
    background-color: #0FC2C0;
    color: #023535;
}

.navbar div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
    gap: 10px;
    padding: 8px 12px;
}

.heading {
    padding: 2px 6px;
    font-weight: normal;
    font-size: 20px;
}

.navLinks {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    font-size: 20px;
    padding: 2px 6px;
}

.navLink {
    padding: 0px 4px;
    margin: 0px 8px;
}