.modal {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    color: #d5dde3;
}

.modal .modalContent {
    background-color: #023535;
    min-height: 70vh;
    border-radius: 4px;
    border: 2px solid #023535;
    padding: 4px 12px;
    width: 50%;
    margin: 5% auto;
}

.modal .modalContent .header {
    margin-top: 15px;
    padding: 4px;
    font-size: 24px;
}

.modal .hr hr {
    width: 200px;
    margin: auto;
    margin-bottom: 40px;
    border: 1px solid #d5dde3;
    border-radius: 4px;
}

.modal .modalInput {
    outline: none;
    font-size: 20px;
    padding: 4px;
    border-radius: 4px;
    border: 2px solid #023535;
    margin-bottom: 20px;
    color: #023535;
    background-color: #d5dde3;
}

.modal input::-webkit-outer-spin-button,
.modal input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.modal .typeSelect {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-bottom: 25px;
}

.modal .typeSelect select {
    font-size: 17px;
    padding: 4px 8px;
    border: 2px solid #023535;
    background-color: #d5dde3;
    border-radius: 4px;
    outline: none;
    min-width: 200px;
}

.modal .typeSelect select option {
    text-transform: capitalize;
}

.modal .radios {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    gap: 12px;
    margin-bottom: 35px;
}

.modal .radio {
    padding: 0px 8px;
}

.modal .radio span {
    padding-left: 8px;
}

.modal .addBtn {
    display: block;
    margin: auto;
    font-size: 18px;
    border: 2px solid #d5dde3;
    background-color: #d5dde3;
    color: #023535;
    border-radius: 4px;
    padding: 4px 8px;
    cursor: pointer;
    margin-bottom: 25px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 4px;
}

.addBtn:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 6px;
}

.close {
    color: #aaa;
    text-align: right;
    font-size: 30px;
    font-weight: bold;
    padding-right: 12px;
    display: block;
}

.close:hover,
.close:focus {
    color: brown;
    text-decoration: none;
    cursor: pointer;
}

.errorMsg {
    text-transform: capitalize;
    color: #d5dde3;
    padding: 8px;
    margin-top: 10px;
    font-style: italic;
    margin-bottom: 24px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .modal .modalContent {
        min-height: 80vh;
        width: 80%;
        margin: 5% auto;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .modal .modalContent {
        min-height: 80vh;
        width: 80%;
        margin: 5% auto;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .modal .modalContent {
        min-height: 80vh;
        width: 70%;
        margin: 5% auto;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .modal .modalContent {
        min-height: 80vh;
        width: 65%;
        margin: 5% auto;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .modal .modalContent {
        min-height: 80vh;
        width: 50%;
        margin: 5% auto;
    }
}